/*****************
* Color Variables
*****************/

$black: #000;
$white: #FFF;
$white-two: #ECE8E5;
$white-three: #E8E8E8;
$white-five: #D7D6D6;
$white-four: #F8F8F8;
$charcol-input: #444444;
$light-gray: #FEFFFF;
$greyish: #B1ADAA;
$greyish-two: #B7B7B7;
$light-black: #444444;
$light-gray: #777777;
$dark-gray: #AAAAAA;
$light-medium-gray: #D5DFEB;
$medium-gray: #C8D1DB;
$light-green: #4aa7b4;
$medium-dark-gray: #BAC2CC;
$grey-line: #EEE;

$light-navy: #17537E;
$light-grey: #f7f7f7;
$bg-lighterblue: #00A7E7;
$light-blue: #DAEDF5;
$medium-grey: #DDDDDD;
$light-medium-blue: #5098D6;
$medium-blue: #006EB6;
$dark-blue: #083263;
$azure: #00A7E7;
$transparent-light-blue: rgba(75,170,211,.2);
$transparent-medium-blue: rgba(75,170,211,.6);
$transparent-light-black: rgba(0,0,0,0.5);

$darkest-blue: #233340;
$darker-blue: #1E00A3;


$lighter-blue: #4BA7B4;

$lighter-gray: #CCC1AF;

$bg-gray: #ECE8E5;
$bg-light-grey: #ECECEC;
$bg-grayer: #CECECE;

$orange: #E17E32;

$green: #4EB47F;
$medium-green: #90B71C;
$dark-green: #6D8B15;

$btn-mix-blue: #4BA7B4;

$red: #DF5858;
$medium-red: #D3744B;
$dark-red: #B94A48;
