$baseGreen: #1E00A3;
$baseDarkBlack: #808080;
$baseBlack: #6a7883;
$lightGray: #e8e8e8;
$rememberGrey: #6a6a6a;
$errorRed: #ff6699;
$copyright: #999999;
$fbButton: #3277EB;
$emailSuccess:#5ACA31;
$box-shadow: 1px 32px 15px -16px rgba(0, 0, 0, 0.3);
$borderDashboard: #cccccc;
$wrapperBackground: #F5F5F5;
$whiteBackground: #ffffff;
$DashHeading:#6a7883;
$dashBoardCurve: 1px solid $borderDashboard;
$dashLeftGrey: #999999;
$dashRed: #ff6666;
$dashGold: #cc9933;