.center-button {
   position: relative;
   width: 250px;
   margin: 0 auto;
   display: block;
   height: 250px;
   border-radius: 150px;
   cursor: pointer;
   div {
      border-radius: 150px;
      position: absolute;
      left: 0;
      top: 0;
      height: 250px;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      * {
         margin: auto;
      }
   }
}
