.base-page-main {
  .layout-children {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    // width: 30%;
  }
  &.login-form {
    width: 768px;
    margin: auto;
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  // .base-page-main.login-form {
  //     width: 100%;
  //     padding: unset;
  //     }
  // .base-page-main .layout-children {
  //     padding: 0px !important;
  // }
}

@media screen and (max-width: 768px) {
  .base-page-main.login-form {
    width: 100%;
    padding: 20px;
  }
  // .base-page-main .layout-children {
  //     padding: 0px !important;
  // }
  .modal__container {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  // .base-page-main.login-form {
  //     width:80%;
  //     padding: unset;
  //     }
  .dont-have-account-text {
    display: inline-block;
    max-width: 80%;
  }
}
